[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
coverage = "*"
pytest-html = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
setuptools = "*"
mypy = "*"
pylint = "*"
coverage-badge = "*"
flask = "*"
flask-restful = "*"
gunicorn = "*"
flask-json-schema = "*"

[dev-packages]

[requires]
python_version = "3.12"
